body {
  background-image: url("../photos/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
}

.container{
  margin: 0 auto;
}

#intro-box {
  background-color: white;
  opacity: 0.8;
  width: 75%;
  padding: 25px 50px 50px 50px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#second-box {
  display: none;
  background-color: white;
  opacity: 0.8;
  width: 75%;
  padding: 25px 50px 50px 50px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#submit {
  margin-top: 10px;
}

.btn-sm {
  float: right;
  margin-bottom: 50px;
  padding: 5px;
  border-radius: 10px;
}

.glyphicon-arrow-right:hover {
  color: #00a7bd;
}
